.board {
  margin-top: 20px;
  padding: 12px 14px;
  width: 282px;
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hover {
  outline: 2px dashed #4c9aff;
  outline-offset: -6px;
}

.create {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  background: #FFF;
  border-radius: 5px;
  padding: 7px;
  margin-top: 22px;
}

.missing {
  margin-top: 15px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .board { width: calc(50% - 16px); }
}

@media (max-width: 600px) {
  .board { width: 100%; }
}