.footer {
  height: 7vh;
  background: rgba(255, 255, 255, 0.12);
  border-top: 1px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(10px);
  box-shadow: 0 -8px 30px rgba(0,0,0,0.25);
}

.container {
  height: 100%;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}